{% extends "Core/base.html" %}
{% block title %}

{% endblock title %}

{% block content %}
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Мой демон</h5>
                <p class="card-text">Самая ожидаемая корейская дорама конца 2023 года об отношениях демона и обычной девушки, чьи судьбы были переплетены в прошлом.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
    </div>
{% endblock content %}
